<footer class="footer t-center">
  <div class="container">

    <div class="social-icons">
      <ul class="text-left">
        <li><a href="https://itunes.apple.com/us/app/fongphone/id1073371447?ls=1&mt=8" target="_blank"><i class="fa fa-appstore"></i></a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.fongphone" target="_blank"><i class="fa fa-googleplay"></i></a></li>
        <li><a href="https://github.com/chriswininger/FongPhone" target="_blank"><i class="fa fa-github-dl"></i></a></li>
      </ul>
    </div>


  </div>
</footer>
